<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		body {background-color: rosybrown;}
		#intro {color: salmon;}
		.radios {font: sans-serif;}
	</style>
	<title>get your fortune read!</title>
	<h1>get your fortune read!</h1>
	</head>

<body>
	<h3>you never know what you might reveal!</h3>
	<br>
	<form action="/home" method="POST">
    	<input type="text" id="birthmonth" name="birthmonth" placeholder="Enter your birth month" required>
    	<br><br>
    	<input type="submit" value="Get My Fortune">
	</form>
	<img src="https://t3.ftcdn.net/jpg/06/45/44/56/360_F_645445692_2A6J55RxU2JyBgOgoDDFqpIhPWJcyziB.jpg" >
	<br>
	<a href="/fortune">reveal your fortune!!</a>
</body>

</html>
