<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 style="color: black;">Hi! Facebook is totally normal haha.</h1>
    <form action="/home" method="POST" style="max-width:500px;margin:auto">
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" placeholder="Quote" name="quote">
        </div>
        <button type="submit" class="btn">Sign out</button>
        <button type="button" onclick="location.href='/thanks'">Submit Quote</button>
    </form>
</body>
</html>
