<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 style="color: black;">Lost Items</h1>
    <div class="container">
        <h2>Lost Items</h2>
    {%for item in items %}
       <ul>
            <li> Item: {{items[item]['item']}}</li>
            <li> Descrition: {{items[item]['item_description']}}</li>
            <li> Place I saw it last: {{items[item]['last_seen']}}</li>

        </ul>
            <a href= "{{url_for('contact', item = item)}}" >found this item?</a>

        {%endfor%}
    </div>
        <br>


    <a href= "/signout">signout</a>
        <br>

    <a href= "/lost">report lost item</a>
        <br>


</body>
</html>
