<!DOCTYPE html>
<html>
</head>
<body>
        <form action="/lost" method="POST" style="max-width:500px;margin:auto">
          <h1 style="color: black;">Lost Item Report Form</h1 >
          <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" placeholder="Item" name="item">
          </div>
        <br>

          <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input class="input-field" type="text" placeholder="Description" name="item-description">
          </div>
        <br>

          <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input class="input-field" type="text" placeholder="where you saw it last" name="last-seen">
          </div>
        <br>

          <button type="submit" class="btn">Submit</button>
        </form>
</body>
</html>